<md-content class="md-padding" layout-xs="column" layout="row">
    <div ng-repeat="col in gridCtrl.layout" flex-xs flex-gt-xs="33" layout="column">
        <md-card ng-repeat="painting in col">
            <img ng-src="/app/images/{{painting.imgUrl}}" class="md-card-image" alt="{{painting.name}}">
            <md-card-title>
                <md-card-title-text>
                <span class="md-headline">{{painting.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{painting.date}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" aria-label="Favorite">
                    <ng-md-icon icon="favorite"></ng-md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
